.card {
  height: 400px;
  flex: 1 0 200px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #d0d0d0;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.card__image {
  margin-top: 30px;
  margin-bottom: 10px;
}
.card__name {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1rem;
  text-align: left;
  color: var(--primary-text-color);
}
.card__price {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: left;
  margin: 5px 0;
}

.card__btn {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  padding: 10px;
  border: none;
  background-color: var(--primary-text-color);
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.card__btn:hover {
  background-color: #337d60;
}
.card__btn:focus {
  outline: none;
}
.card__badge {
  width: 40px;
  position: absolute;
  right: 10px;
}
